body {
    padding: 20px;
}

input {
    display: none;
}

.show {
    display: block;
}

header {
    height: 40px;
    background-color: darkcyan;
    font-size: 32px;
    align-content: right;
}

nav {
    width: 60px;
    background-color: gray;
    align-content: center
}